img {
    width:1600px;
    height:100px;
    object-fit:cover;
    }    
body {margin:0;} 
    
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #56d2ff;
    position: fixed;
    top: 0;
    width: 100%;
}

li { 
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
li a:hover:not(.active) {
    background-color:aliceblue
    }
    
.active {
    background-color:beige
}
/* gallery */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: top;
}     
    <div style="padding:20px;margin-center:30px;background-color:#labc9c;height:1500px;"> 
    </div>    
body {margin:0;}    
    
/* background image */
body {
    background-image: url(http://svn.red-bean.com/repos/kfogel/trunk/www/images/parchment-background.jpg);
}
/* dropdown bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #56d2ff;
    opacity: .8;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: beige;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    posistion: absolute;
    background-color: beige;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
    
.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
    display: block;
}
/* box */    
.div1 {
    width: 1080px;
    height: 90px;
    border: 5px solid black;
    box-sizing: border-box;
}  
/* dont know */
body {
    margin: 0;
}
    
/* Style the header */
.header {
    background-color: burlywood;
    padding: 1px;
    text-align: center;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

