img {
        border-radius: 8px;
    }  

.button {
    background-color: cornflowerblue;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body {margin:0;} 
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #56d2ff;
    position: fixed;
    top: 0;
    width: 100%;
}

li { 
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
li a:hover:not(.active) {
    background-color:aliceblue
    }
    
.active {
    background-color:beige
}
