div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: top;
}     
    <div style="padding:20px;margin-center:30px;background-color:#labc9c;height:1500px;"> 
    </div>    
body {margin:0;}    
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #56d2ff;
    position: fixed;
    top: 0;
    width: 100%;
}

li { 
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
li a:hover:not(.active) {
    background-color:aliceblue
    }
    
.active {
    background-color:beige
}
